//
// Font
// Lots of general font stuff here. Some more specific font stuff can be found elsewhere
// --------------------------------------------------

// font imported using font-your-face through the themes init file
body {
  font-family: 'Open Sans';
}

//overriding bootstrap
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
}

a:link, a:visited, a:hover, a:active, .breadcrumb {
  font-style: italic;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
h4 a:link, h4 a:visited, h4 a:hover, h4 a:active,
h5 a:link, h5 a:visited, h5 a:hover, h5 a:active,
h6 a:link, h6 a:visited, h6 a:hover, h6 a:active,
p.date, p.author {
  font-weight: bold;
  font-style:normal;
}

h1 { line-height: $line-height-computed * 1.7; }
h2 { line-height: $line-height-computed * 1.4; }
h3 { line-height: $line-height-computed * 1.2; }

h1 { font-size: $font-size-base * 1.75; } // ~28px
h2 { font-size: $font-size-base * 1.75; } // ~28px

h3,
h2.search-head,
#main-menu li,
#secondary-menu li,
.pane-main-menu ul.menu li,
.pane-main-menu h5,
.pane-main-menu h5 i
{ font-size: $font-size-base * 1.25; } // ~20px

h4, h5 { font-size: $font-size-base; } // ~16px
h6 { font-size: $font-size-base * 0.875; } // ~14px
#breadcrumb,
.date,
.author,
.address { font-size: $font-size-base * 0.75;} // ~12px

h3.site-by,
body ul.terms li {
  font-weight:bold;
}

body.page-search h2 {
  font-size: $font-size-base;
  font-style:italic;
}

@media only screen and (min-width : 481px) {
  h1 {
    font-size: $font-size-base * 2.2;
    padding-bottom:$oeVerticalMargin + 3;
  }

  h3.site-by {
    font-weight:400;
    font-size: $font-size-base;
    line-height: $line-height-computed;
  }

  .oe-portrait-search-result h3,
  .view-openethical-blog h3,
  .view-openethical-events h3,
  .view-openethical-projects h3{
    font-size: $font-size-base * 1.75;
    line-height: $line-height-computed * 1.4;
  }

  .oe-basic p.author,
  .oe-basic p.date,
  .oe-basic p.address,
  #blog-post-page p.date,
  #blog-post-page p.author,
  body p.date,
  body p.author,
  body p.address{
    font-size: $font-size-base;
  }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
  ul#secondary-menu li a {
    font-size: $font-size-base * 0.9;
  }
}

@media only screen and (min-width : 992px) {
  h2.search-head {
    font-size: $font-size-base * 1.75;
  }

  #secondary-menu li a {
    font-size: $font-size-base;
  }
}

/* placeholder text - http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $input-color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $input-color-placeholder;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $input-color-placeholder;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $input-color-placeholder;
}

