// Mixin
// SASS Mixins
// --------------------------------------------------

// LI'S mostly used to wrap teaser lists, but also to wrap portrait preview (if any exist!), and to portrait search (if any exist!)

//gives an item which is the full width of the column it's in. Only used if the column is between 1 and 6 wide.
@mixin oe-basic-wide-li($layout-type){
  .col-md-1 .#{$layout-type} li,
  .col-md-2 .#{$layout-type} li,
  .col-md-3 .#{$layout-type} li,
  .col-md-4 .#{$layout-type} li,
  .col-md-5 .#{$layout-type} li,
  .col-md-6 .#{$layout-type} li {
    width:100%;
  }
}

//gives an item which is around half the width of the column it's in. Useful, for example, for floating teasers next to each other in wide columns
@mixin oe-basic-narrow-li($layout-type){
  .#{$layout-type} li {
    @include inline-block;
    vertical-align:top;
    width:48.7179%;
  }

  .#{$layout-type} li.views-row-odd,
  .#{$layout-type} li.pieces-odd,
  .#{$layout-type} li.first {
    margin-right:2.5641%;
  }
}

//All of the various sizes/dimensions for oe-basic (used for teaser and featured view modes). The size chosen depends on screen size and location
@mixin oe-basic-size-0($layout-type){
  @include oe-basic-layout($layout-type, 100%, left, 0, 0, 100%, left, 0);
}

@mixin oe-basic-size-1($layout-type){
  @include oe-basic-layout($layout-type, 45.94594594594595%, right, 0, 6%, 100%, none, 0%);
}

@mixin oe-basic-size-2($layout-type){
  @include oe-basic-layout($layout-type, 35.064935064935064%, left, 3.896103896103896%, 0, 57.14285714285714%, left, 3.896103896103896%);
}

@mixin oe-basic-size-3($layout-type){
  @include oe-basic-layout($layout-type, 22.07792207792208%, left, 3.896103896103896%, 0, 70.12987012987013%, left, 3.896103896103896%);
}

@mixin oe-basic-size-4($layout-type){
  @include oe-basic-layout($layout-type, 22.07792207792208%, left, 3.896103896103896%, 0, 70.12987012987013%, left, 3.896103896103896%);
}

@mixin oe-basic-size-5($layout-type){
  @include oe-basic-layout($layout-type, 30.94594594594595%, left, 8.108108108108109%, 0, 58.24324324324324%, left, 2.7027027027027026%);
}

@mixin oe-basic-size-6($layout-type){
  @include oe-basic-layout($layout-type, 22.07792207792208%, left, 3.896103896103896%, 0, 70.12987012987013%, left, 3.896103896103896%);
}

//Used to style the layout oe-basic which is declared in the module: Ethical Theme. oe-basic is always used for teaser and featured view modes
@mixin oe-basic-layout($layout-type, $sidebar-width, $sidebar-float, $sidebar-margin-right, $sidebar-margin-left, $contentmain-width, $contentmain-float, $contentmain-margin-right){
  .#{$layout-type} .oe-basic .sidebar {
    @include oe-basic-sidebar($sidebar-width, $sidebar-float, $sidebar-margin-right, $sidebar-margin-left);
  }

  .#{$layout-type} .oe-basic .contentmain {
    @include oe-basic-contentmain($contentmain-width, $contentmain-float, $contentmain-margin-right);
  }
}

//The nitty gritty. sizes/floats/dimensions are passed in from wrapping mixins. Used for oe-basic
@mixin oe-basic-sidebar($width, $float, $margin-right, $margin-left) {
  float:$float;
  width:$width;
  margin-right:$margin-right;
  margin-left:$margin-left;
}

@mixin oe-basic-contentmain($width, $float, $margin-right) {
  float:$float;
  width:$width;
  margin-right:$margin-right;
}

//Photo and video media libraries

@mixin oe-media-library-li($width, $margin-left, $margin-bottom) {
  ul.es-media-library li.views-row {
    @include inline-block;
    vertical-align:top;
    width:$width;
    margin-left:$margin-left;
    margin-bottom:$margin-bottom;
    padding:0;
    border:none;
  }
}

//make sure the first items in media grid rows have no left margin
@mixin oe-media-library-grid-control($num-per-row) {
  ul.es-media-library li.views-row:nth-child(#{$num-per-row}n+1) {
    margin-left:0;
  }
}

