//
// Text elements
// Styling for general text elements: headers, paragraphs, links, unordered lists, ordered lists
// Stying for more specific text elements can be found elsewhere
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  padding:0;
  padding-right:$oeSmallColPadding * 2;
  padding-left:$oeSmallColPadding * 2;
}

h1 {
  padding-bottom:$oeVerticalMargin - 2;
}

#page-header h1 {
  width:100%;
}

body.front h1.title {
  display:none;
}

h2 {
  margin-top:-3px;
  padding-bottom:25px;
}

h2.search-head {
  padding-bottom:12px;
}

h3 {
  padding-bottom:9px;
}

h3.site-by {
  margin-left:$oeSmallColMargin;
  margin-right:$oeSmallColMargin;
}

h4 {
  padding-bottom:5px;
}

body.page-search .pane-search-current h2 {
  margin-top:-30px;
}

ul {
    position:relative;
    left:20px;
    list-style: disc;
    list-style-position:inside;
    margin-bottom:$oeVerticalMargin;
    margin-left:0;
    li {
        list-style: disc;
        margin-bottom:10px;
    }
}

ul.links {
  list-style:none;
  li {
    list-style:none;
  }
}

ol {
    position:relative;
    left:20px;
    list-style:decimal outside none;
    margin-bottom:$oeVerticalMargin;
    margin-left:0;
    li {
        margin-bottom:10px;
    }
}

p, ul, ol {
  padding-right:$oeSmallColPadding * 2;
  padding-left:$oeSmallColPadding * 2;
  margin-bottom:$oeVerticalMargin;
}

p.address {
  padding-right:0;
}

@media only screen and (min-width : 481px) {
  h1 {
    padding-bottom:$oeVerticalMargin + 3;
  }

  h3.site-by {
    float:left;
    margin:0;
  }

  .oe-portrait-search-result h3,
  .view-openethical-blog h3,
  .view-openethical-events h3,
  .view-openethical-projects h3{
    padding-bottom:11px;
  }
}

@media only screen and (min-width : 768px) {

  p, h1, h2, h3, h4, h5, h6 {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
  }

  p {
    padding-right:30px;
  }

  ul, ol {
    padding-left:0;
    padding-right:45px;
  }
}

@media only screen and (min-width : 992px) {
  #page-header h1 {
    width:80%;
  }

  h2.search-head {
    padding-bottom:27px;
  }
}

@media only screen and (min-width : 1200px) {
  #page-header h1 {
    width:65.812%; /* same as col-md-8 */
  }
}
