@charset "UTF-8";

.first-panel,
ul.teaserPieces.first-panel {
  clear: both;
  padding-top: 30px;
  border-top: 1px solid #fff;
}

.wide-panel {
  clear: both;
  margin: 0 0 30px 0;
  padding: 0;
}

body .es-bear-bones {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

ul.teaserPieces .pane-panopoly-widgets-general-content-piece-of-content {
  padding-left: 0;
  padding-right: 0;
}
ul.teaserPieces .panel-pane {
  margin-bottom: 0;
  border: none;
}

/* thumbnail */
/* reset bootstrap style */
.thumbnail {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  transition: none;
}

/* images entered through the wysiwyg */
@media only screen and (max-width: 991px) {
  img.media-element {
    float: none !important;
    display: block !important;
    margin: 0 0 15px 0 !important;
  }
}
/* featured images */
.field-featured-image,
.field-body-no-image {
  clear: left;
}

.field-featured-image img.thumbnail,
.field-featured-image img.medium,
.field-featured-image img.portrait,
.field-featured-image img.large {
  margin-bottom: 30px;
}

@media only screen and (min-width: 371px) {
  .field-featured-image {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .field-featured-image {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .field-featured-image img.thumbnail,
  .field-featured-image img.medium,
  .field-featured-image img.portrait {
    float: left;
    margin-right: 30px;
  }
}
/* media library layouts */
ul.es-media-library li:last-child {
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  ul.es-media-library li.views-row {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 48.71795%;
    margin-left: 2.5641%;
    margin-bottom: 2.5641%;
    padding: 0;
    border: none;
  }

  ul.es-media-library li.views-row.views-row-1 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-3 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-5 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-7 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-9 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-11 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-13 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-15 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-17 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-19 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-21 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-23 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-25 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-27 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-29 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-31 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-33 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-35 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-37 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-39 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-41 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-43 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-45 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-47 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-49 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-51 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-53 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-55 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-57 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-59 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-61 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-63 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-65 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-67 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 481px) {
  ul.es-media-library li.views-row {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 32.4675324675%;
    margin-left: 1.2987012987%;
    margin-bottom: 1.2987012987%;
    padding: 0;
    border: none;
  }

  ul.es-media-library li.views-row.views-row-1 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-4 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-7 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-10 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-13 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-16 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-19 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-22 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-25 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-28 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-31 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-34 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-37 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-40 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-43 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-46 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-49 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-52 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-55 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-58 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-61 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-64 {
    margin-left: 0;
  }

  ul.es-media-library li.views-row.views-row-67 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row, .view div.container > div.row > div.list-group ul.es-media-library li.views-row,
  div.container div.col-md-12 ul.es-media-library li.views-row,
  div.container div.calendar-calendar ul.es-media-library li.views-row,
  div.container .view .row > div.list-group ul.es-media-library li.views-row,
  .view div.container .row > div.list-group ul.es-media-library li.views-row {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 23%;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 0;
    border: none;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-1, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-1, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-1,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-1,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-1,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-1,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-1 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-5, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-5, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-5,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-5,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-5,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-5,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-5 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-9, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-9, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-9,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-9,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-9,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-9,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-9 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-13, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-13, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-13,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-13,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-13,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-13,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-13 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-17, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-17, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-17,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-17,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-17,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-17,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-17 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-21, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-21, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-21,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-21,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-21,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-21,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-21 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-25, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-25, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-25,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-25,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-25,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-25,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-25 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-29, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-29, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-29,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-29,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-29,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-29,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-29 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-33, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-33, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-33,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-33,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-33,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-33,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-33 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-37, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-37, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-37,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-37,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-37,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-37,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-37 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-41, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-41, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-41,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-41,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-41,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-41,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-41 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-45, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-45, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-45,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-45,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-45,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-45,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-45 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-49, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-49, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-49,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-49,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-49,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-49,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-49 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-53, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-53, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-53,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-53,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-53,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-53,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-53 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-57, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-57, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-57,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-57,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-57,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-57,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-57 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-61, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-61, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-61,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-61,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-61,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-61,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-61 {
    margin-left: 0;
  }
  div.container > div.row > div.col-md-12 ul.es-media-library li.views-row.views-row-65, div.container > div.row > div.calendar-calendar ul.es-media-library li.views-row.views-row-65, .view div.container > div.row > div.list-group ul.es-media-library li.views-row.views-row-65,
  div.container div.col-md-12 ul.es-media-library li.views-row.views-row-65,
  div.container div.calendar-calendar ul.es-media-library li.views-row.views-row-65,
  div.container .view .row > div.list-group ul.es-media-library li.views-row.views-row-65,
  .view div.container .row > div.list-group ul.es-media-library li.views-row.views-row-65 {
    margin-left: 0;
  }
}
ul.es-media-library .pager {
  margin-top: 20px;
}

/* sneaky bit of audio */
.media-soundcloud-audio,
.media-soundcloud-audio iframe {
  width: 100%;
  height: 231px;
}

body.page-user-register .page-header .title,
body.page-user-login .page-header .title,
body.page-user-edit .page-header .title,
body.page-user-password .page-header .title {
  padding-bottom: 24px;
}
body.page-user-register form .form-item input[type="text"],
body.page-user-register form .form-item input[type="password"],
body.page-user-register form .form-item input[type="email"],
body.page-user-login form .form-item input[type="text"],
body.page-user-login form .form-item input[type="password"],
body.page-user-login form .form-item input[type="email"],
body.page-user-edit form .form-item input[type="text"],
body.page-user-edit form .form-item input[type="password"],
body.page-user-edit form .form-item input[type="email"],
body.page-user-password form .form-item input[type="text"],
body.page-user-password form .form-item input[type="password"],
body.page-user-password form .form-item input[type="email"] {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}
body.page-user-register form .form-item .description,
body.page-user-login form .form-item .description,
body.page-user-edit form .form-item .description,
body.page-user-password form .form-item .description {
  margin-bottom: 20px;
}
body.page-user-register form .form-actions .btn,
body.page-user-login form .form-actions .btn,
body.page-user-edit form .form-actions .btn,
body.page-user-password form .form-actions .btn {
  margin-top: 8px;
}
body.page-user-register form .form-item .form-radios,
body.page-user-login form .form-item .form-radios,
body.page-user-edit form .form-item .form-radios,
body.page-user-password form .form-item .form-radios {
  margin-top: 15px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  border-bottom: 2px solid #333;
}
@media only screen and (min-width: 768px) {
  .nav-tabs {
    margin-left: 0;
    margin-right: 0;
  }
}
.nav-tabs > li:first-child a {
  padding-left: 12px;
}
.nav-tabs > li a {
  color: #333;
  text-align: center;
  text-decoration: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li a:hover, .nav-tabs > li a:focus {
  text-decoration: underline;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #333;
  border: none;
}

body .profile h3.field-label {
  padding-bottom: 6px;
}
body .profile p {
  margin-bottom: 24px;
}

body.page-user-edit form#user-profile-form {
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  body.page-user-edit form#user-profile-form {
    padding: 0;
  }
}

body.page-user-password form#user-pass {
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  body.page-user-password form#user-pass {
    padding: 0;
  }
}
body.page-user-password form#user-pass p {
  padding: 0;
  margin-bottom: 18px;
}
body.page-user-password form#user-pass p .placeholder {
  font-weight: 700;
}

/* twitter pull */
#twitter {
  position: static;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#twitter ul {
  position: static;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
#twitter li {
  float: left;
  margin-bottom: 15px;
  border-bottom: 1px solid #f4f4f4;
  list-style: none;
}
#twitter li:last-child {
  border: none;
  margin-bottom: 0;
}
#twitter li li {
  clear: none;
  float: left;
  padding: 0 7px 0 4px;
  border: none;
}
#twitter li:last-child li {
  margin-bottom: 0;
}
#twitter li li.first {
  padding-left: 0;
}

/* easy social */
.easy_social_box {
  margin: -3px 0 7px 0;
}
.easy_social_box div.easy_social-widget {
  width: 50%;
  margin: 0 0 13px 0;
}
@media only screen and (min-width: 481px) {
  .easy_social_box div.easy_social-widget {
    width: auto;
  }
}

.panels-ipe-editing .easy_social_box {
  margin-top: 0;
}

/* messages */
#messages {
  margin-top: 30px;
}

/* files */
.field-video-file {
  padding-bottom: 30px;
}

img.file-icon, div.file-widget img {
  margin-top: -3px;
}

.file .icon-file-text {
  font-size: 19px;
  text-align: left;
  width: 1em;
}

/* maps */
.field-map-address iframe, .field-map-address object, .field-map-address embed,
.es-bear-bones iframe, .es-bear-bones object, .es-bear-bones embed {
  width: 100%;
  margin-bottom: 18px;
}

.field-map-information {
  margin-top: 0;
}

/* spamspan */
body .row a.spamspan {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: auto;
}

.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-list ul li {
  /* not sure if these are needed anyway. removed because they were screwing oe-teaser in the elc areas of work block */
  /*width:100%;*/
  /*clear:left;*/
  margin: 0;
  padding: 0;
}

.pane-views-panes {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.pane-views-panes li {
  padding-left: 10px;
  padding-right: 10px;
}
.pane-views-panes li li {
  padding-left: 0;
  padding-right: 0;
}
.pane-views-panes .pane-title {
  padding-left: 10px;
  padding-right: 10px;
}
.pane-views-panes .pane-panopoly-widgets-general-content-piece-of-content {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  .pane-views-panes li,
  .pane-views-panes .pane-panopoly-widgets-general-content-piece-of-content,
  .pane-views-panes .pane-title {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

ul.view,
ul.teaserPieces {
  position: static;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.view li,
ul.teaserPieces li {
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  list-style: none;
}

ul.teaserPieces {
  border-bottom: 1px solid #fff;
  clear: both;
  margin: 0 10px 30px 10px;
  padding: 0 10px;
  padding-bottom: 1px;
  /* does this solve margin collapsing? if not use overflow hidden and get rid of negative top margins, could use position relative instead? */
}
@media only screen and (min-width: 768px) {
  ul.teaserPieces {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

ul.view li:last-child,
ul.view li.second-last,
ul.view li.third-last,
ul.teaserPieces li:last-child,
ul.teaserPieces li.second-last {
  border-bottom: none;
  margin-bottom: 0;
}

ul.oe-portrait-link,
ul.oe-tiny,
.pane-bundle-quick-links .item-list ul {
  margin-bottom: 30px;
}

ul.oe-portrait-link li,
ul.oe-tiny li,
ul.oe-tiny li:last-child,
ul.view ul li {
  border-bottom: none;
  margin-bottom: 0;
}

/* sort the ipe out */
ul.teaserPieces ul.panels-ipe-linkbar li {
  width: auto;
  border: none;
  margin-bottom: 0;
}

/* search results */
body.page-search .views-row {
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}
body.page-search .views-row-last {
  border-bottom: none;
  margin-bottom: 0;
}

/* pager */
.item-list ul.pager {
  position: static;
  left: 0;
  list-style: none;
  margin-bottom: 30px;
}
.item-list ul.pager li {
  padding: 5px 5px;
  vertical-align: middle;
  list-style: none;
  margin-bottom: 0;
}
.item-list ul.pager li a,
.item-list ul.pager li a:hover {
  border: none;
  background: none;
}
.item-list ul.pager li.active > span {
  background: none;
  color: #333;
  border: none;
}
.item-list ul.pager li.pager-current {
  border-bottom: 1px solid #333;
}

/*# sourceMappingURL=screen.css.map */
