//
// Styles for Blog
// --------------------------------------------------

.view-openethical-blog {
  .tags,
  p.link {
    margin-top:-18px;
  }
}

#blog-post-page {
  p.author,
  p.date {
      float:left;
      margin-bottom:$oeVerticalMargin - 15;
      margin-top:-30px;
      padding-right:0;

      @media only screen and (min-width : 481px) {
        margin-bottom:$oeVerticalMargin - 12;
        margin-top:-10px;
      }
  }

  p.date {
    padding-left:0;
    font-weight:400;
    font-style:normal;
  }
}

.view-openethical-blog .panels-ipe-portlet-content .tags,
.view-openethical-blog .panels-ipe-portlet-content p.link,
#blog-post-page .panels-ipe-portlet-content p.author,
#blog-post-page .panels-ipe-portlet-content p.date{
  margin-top:0;
}
