// Node
// Styles for Bootstrap Carousel
// --------------------------------------------------

.opacity .carousel {
  .carousel-control {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  }
}

.carousel .carousel-caption {

  background: #fff;
  position:static;
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  text-shadow: none;
  padding: 18px 28px 23px 28px;

  @media only screen and (min-width : 1200px) {
    padding-top:33px;
    padding-bottom:33px;
  }

  p {
      width:100%;
      color:$gray-dark;
      padding-left:0;
      padding-right:0;
      margin-bottom:0;

      @media only screen and (min-width : 992px) {
        width:85%;
      }

      @media only screen and (min-width : 1200px) {
        width:70%;
      }
  }

  h2 {
      width:100%;
      padding-left:0;
      padding-bottom:5px;
      font-size: $font-size-base * 1.25;
      line-height: $line-height-computed * 1.2;

      @media only screen and (min-width : 992px) {
        width:85%;
      }

      @media only screen and (min-width : 1200px) {
        width:70%;
        padding-bottom:21px;
        font-size: $font-size-base * 1.75;
        line-height: $line-height-computed * 1.4;
      }
  }
}

@media only screen and (min-width : 992px) {
  .col-md-8 .carousel .carousel-caption,
  .col-md-9 .carousel .carousel-caption,
  .col-md-10 .carousel .carousel-caption,
  .col-md-11 .carousel .carousel-caption,
  .col-md-12 .carousel .carousel-caption {
    position:absolute;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  }
}

@media only screen and (min-width : 1200px) {

  .col-md-3 .carousel .carousel-caption,
  .col-md-4 .carousel .carousel-caption,
  .col-md-5 .carousel .carousel-caption,
  .col-md-6 .carousel .carousel-caption,
  .col-md-7 .carousel .carousel-caption,
  .col-md-8 .carousel .carousel-caption,
  .col-md-9 .carousel .carousel-caption {
    padding-bottom:25px;
    padding-top:20px;
  }

  .col-md-3 .carousel h2,
  .col-md-4 .carousel h2,
  .col-md-5 .carousel h2,
  .col-md-6 .carousel h2,
  .col-md-7 .carousel h2,
  .col-md-8 .carousel h2,
  .col-md-9 .carousel h2 {
    font-size: $font-size-base * 1.25;
    line-height: $line-height-computed * 1.2;
    padding-bottom:5px;
  }
}

.carousel .carousel-control {
  font-size:45px;
  height:60px;
  width:60px;
  background: $gray-lighter;
  color:$gray-dark;
  border:none;
  @include border-radius(60px);
  @include opacity(1);
  left:30px;
  top:90px;
  text-shadow: none;

  &.right {
      right: 30px;
      left: auto;
  }

  &:focus {
    color:$gray-dark;
  }

  &:hover {
    color:$gray-dark;
    background:#fff;
  }

  i {

    &.glyphicon-chevron-left {
      left:30%;
      top:15%;

      @media only screen and (min-width : 768px) {
        left:50%;
        top:50%;
      }
    }

    &.glyphicon-chevron-right {
      right:30%;
      top:15%;

      @media only screen and (min-width : 768px) {
        right:50%;
        top:50%;
      }
    }
  }
}

.carousel .carousel-indicators {
  width:auto;
  top:30px;
  right:30px;
  left:auto;
  padding:0;
  margin:0;
  text-align:left;

  li {
    background-color:$gray-dark;
    margin-left:9px;
    border-width:0px;
    width:10px;
    height:10px;
  }

  li.active {
    background-color: $gray;
    @include opacity(0.35);
    width:10px;
    height:10px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1199px) {

  .col-md-2 .carousel .carousel-indicators,
  .col-md-3 .carousel .carousel-indicators,
  .col-md-4 .carousel .carousel-indicators,
  .col-md-5 .carousel .carousel-indicators,
  .col-md-6 .carousel .carousel-indicators {
    top:15px;
    right:15px;
  }
}

@media only screen and (min-width : 992px) {

  .col-md-8 .carousel .carousel-indicators,
  .col-md-9 .carousel .carousel-indicators,
  .col-md-10 .carousel .carousel-indicators,
  .col-md-11 .carousel .carousel-indicators,
  .col-md-12 .carousel .carousel-indicators {
    top:auto;
    bottom:30px;

    li.active {
      background-color: $gray-dark;
      @include opacity(0.45);
    }
  }
}

/* spotlight */
//not sure why this is still needed
.panopoly-spotlight-label {
  display:none;
}
