// Node
// Styles for Faceted search
// --------------------------------------------------

//the full search box on faceted search pages
.es-facet-search {
  position:relative;
  max-width:370px;

  @media only screen and (max-width : 991px) {
    margin:0 $oeSmallColPadding;
  }

  .form-item-search-api-views-fulltext {
    position:relative;
    max-width:370px;

    input{
      width:100%;
    }
  }

  .form-submit {
    position:absolute;
    bottom:37px;
    right:-2px;

    @media only screen and (min-width : 992px) {
      bottom:0;
    }
  }
}

.es-facet-header {
  clear:left;

  @media only screen and (max-width : 991px) {
    margin-left:$oeSmallColMargin;
    margin-right:$oeSmallColMargin;
    padding-left:$oeSmallColPadding;
    padding-right:$oeSmallColPadding;
  }
}

//each individual facet dropdown
body .es-facet {
  border:none;
  margin-bottom:0;
  overflow:visible;

  h2.pane-title {
    font-size:$font-size-base * 1.25;
    line-height:$line-height-computed * 1.2;
    padding-bottom:14px;
  }

  &.last-facet {
    margin-bottom:30px;
  }
}

body ul.terms {
  position:static;
  left:0;
  display:inline;
  margin-left:5px;
  list-style:none;

  li {
    display:inline;
    width:auto;
    margin-bottom:0;
    padding-right:7px;
    list-style:none;
  }

  li:after {
    content: ',';
  }

  li:last-child:after {
    content: '';
  }
}

//area showing the user what they've chosen to filter by
div.search-tags {
  clear:both;
  border-bottom:1px solid $hr-border;
  border-top:1px solid $hr-border;
  padding:17px 0 18px 0;
  margin:0 $oeSmallColMargin $oeVerticalMargin $oeSmallColMargin;
  padding:17px $oeSmallColPadding 18px $oeSmallColPadding;

  @media only screen and (min-width : 992px) {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
  }

  p {
    float:left;
  }

  ul.terms li a {
    white-space: normal;

    &:after {
      content: ' X';
    }
  }
}

p.more-options {
  clear:both;
}

.col-md-8 #edit-search-api-views-fulltext {
  margin-bottom:13px;

  @media only screen and (min-width : 992px) {
    margin-bottom:30px;
  }
}

.item-list ul.facetapi-facetapi-checkbox-links {
  position:static;
  left:0;
  margin-bottom:$oeVerticalMargin;
  list-style:none;

  li {
    font-style:italic;
    font-weight:700;
    margin-bottom:0;
    list-style:none;
  }
}

input.facetapi-checkbox {
  margin:-2px 10px 0 0;
}

.panels-ipe-portlet-content .es-facet-search{
  margin-top:0;
}

