//
// Layout
// Styles for Forms
// --------------------------------------------------

form {
  margin:0;
}

body .form-item {
    margin-bottom: 0;
    margin-top: 0;
}

.form-actions {
    margin:0 0 $oeVerticalMargin 0;
    padding:0;
    background:transparent;
    border:none;
}

form .description {
  color:$text-color;
  margin:-20px 0 $oeVerticalMargin 0;
}

input, button, select, textarea {
    font-family: inherit;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height:$input-height-base;
  color: $text-color;
  padding-left:18px;
  padding-right:10px;
  padding-top:6px;
  padding-bottom:6px;
  margin-bottom:$oeVerticalMargin;
  @include border-radius($input-border-radius);
}

label {
  margin-bottom: 10px;
}

body #header .form-submit,
body .es-facet-search .form-submit,
.pane-search-box .search-form .form-submit{
  float:left;
  clear:none;
  vertical-align:top;
  border:none;
  background: url(../images/arrows.png) no-repeat 1px 0;
  cursor: pointer;
  height:40px;
  letter-spacing:100px;/*moves text out of way for ie*/
  text-indent: -9999px;
  width:40px;
  margin:0 5px 0 7px !important;
  text-shadow:none;
  box-shadow:none;
}

body #header .form-submit,
.pane-search-box .search-form .form-submit{
  margin-left:-40px !important;
  margin-right:0 !important;
  background-position:-4px -1px;
}

body .form-submit:hover,
body .form-submit:focus {
  background-color:transparent;
  background-position:1px 0;
}

/* search form */

#header .search-form,
.pane-search-box .search-form {
  clear:right;
  padding-bottom:15px;
  box-shadow:none;

  .form-item {
    float:left;
  }

  input.form-submit {
     display:block;
     margin-bottom:0;
  }
}

#header .search-form input#edit-keys,
.pane-search-box .search-form input#edit-keys {
    width:265px;
    padding-left:12px;
    padding-right:44px;
    margin-bottom:0;
    margin-top:0;
}

.pane-search-box .search-form input#edit-keys {
  margin-bottom:$oeVerticalMargin;
  margin-right:0;
}

@media only screen and (max-width : 767px) {
  #header .search-form input#edit-keys {
      margin-right:18px;
      margin-top:5px;
  }

  body #header .navbar .search-form input.form-submit {
    position:relative;
    right:18px;
    top:5px;
  }
}

/* here to override confused versions in radix screen.css */
select[multiple],
select[size] {
  height: auto;
}

/* http://stackoverflow.com/questions/12199471/passwords-showing-up-as-white-or-not-at-all-in-ie */
.form-type-password input {
    font-family: Arial !important;
}


// Password strength and match
form {

  &.confirm-parent,
  &.password-parent,
  &.password-suggestions {
    width: auto !important;
  }

  .form-type-password-confirm {
    .description {
      margin-top: 1px;
    }
  }

  .password-parent {
    display: block;
    max-width: 420px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    div.password-strength {
      float: right;
      width: 140px;
      margin-top: -5px;
      font-size: 10px;

      .password-strength-title {
        float: left;
        display: inline;
        margin-bottom: 0;
        font-weight: bold;
      }

      .password-strength-text{
        float: right;
        display: inline;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 0;
      }

      .password-indicator {
        float: left;
        width: 100%;
        border: 1px solid $gray-light;
        @include border-radius($input-border-radius);

        .indicator {
          display: block;
          width: 0;
          height: 4px;
          background-color: $brand-success;
        }

      }

    }

    input[type="password"] {
      margin-bottom: 20px;
    }

  }

  .confirm-parent {
    display: block;
    max-width: 420px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    div.password-confirm {
      float: right;
      width: 120px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 5px;

      .ok, .error {
        float: right;
        font-style: italic;
        font-weight: bold;
        text-transform: capitalize;
      }

      .ok {
        color: $brand-success;
      }

      .error {
        color: $brand-warning;
      }

    }

    input[type="password"] {
      margin-bottom: 20px;
    }

  }

}



// Login, registration, user-edit, password

form {

  .password-suggestions {
    max-width: 420px;
    padding: 16px;
    background-color: $gray;
    background-color: rgba(244, 244, 244, 0.25);
    border: 1px solid $gray;
    @include border-radius($input-border-radius);

    ul {
      margin-top: 10px;
      margin-bottom: 0;
    }

  }

}
