//
// Layout
// Styles for main layout
// --------------------------------------------------

body {
  padding:0;
}

#header {
  background: #fff;
  padding-top:20px;
  padding-bottom:20px;
  border-bottom: 1px solid $hr-border2;

  @media only screen and (min-width : 992px) {
    padding-top:30px;
    padding-bottom:0;
  }

  .container {
    background: #fff;
  }

  .header-row {
    width:100%;

    @media only screen and (min-width : 992px) {
      width:75%;
    }
  }

  nav {
    margin-top:0 !important;
    margin-bottom:0;

    #main-menu {
      @media only screen and (min-width : 992px) {
        float:right;
      }
    }

    #secondary-menu{
      @media only screen and (min-width : 992px) {
        float:right;
      }
    }

    #navbar-collapse  {
      box-shadow: none;
    }

    #navbar-collapse #header-items {
      @media only screen and (min-width : 992px) {
        display:none;
      }
    }

    .navbar-header {
      width:100%;
      padding:0 0 0 $oeSmallColPadding*2;

      @media only screen and (min-width : 992px) {
        padding-left:0;
        width:25%;
      }

      .navbar-brand {
        width:30%;
        min-width:150px;
        padding:0;
        margin:0;

        @media only screen and (min-width : 992px) {
          width:100%;
        }
      }
    }
  }
}

.page-header {
  border:none;
  margin:0;
  padding:32px 0 0 0;
}

#main-wrapper {
  padding-bottom:50px;
  border-top:1px solid $hr-border;
  border-bottom: 1px solid $hr-border;
}

body #footer {
  background: #fff;
  margin-top:0;
  padding:22px $oeSmallColPadding 0 $oeSmallColPadding;
  border-top:1px solid $hr-border2;

  .container {
    padding-bottom:0;
  }

  .col-md-4 {
    padding-bottom:15px;
    margin-bottom:22px;
    border-bottom:1px solid $hr-border2;

    @media only screen and (min-width : 481px) and (max-width : 767px){
      &.last {
        margin-bottom:0;
        border-bottom:none;
      }
    }

    @media only screen and (min-width : 768px) {
      border-bottom:none;
      margin-bottom:0;
    }
  }

  p {
    margin-bottom:13px;
    padding-right:0;
    padding-left:0;
  }

  h3 {
    padding-left:0;
    padding-right:0;
  }

  .contact-details {
    font-weight:700;
    font-style:italic;
  }

  i {
    @include inline-block;
    width:50px;

    @media only screen and (min-width : 768px) and (max-width : 991px){
      width:35px;
    }
  }

  .address {
    position:relative;
    padding-left:50px;
    font-size: $font-size-base;
    font-weight:bold;

    @media only screen and (min-width : 768px) and (max-width : 991px){
      padding-left:35px;
    }

    i {
      position:absolute;
      top:4px;
      left:0;
    }
  }

  .social-links {
    position:static;
    left:0;
    margin:37px 0 7px 0;

    li {
      @include inline-block;
      width:50%;
      padding-bottom:8px;

      @media only screen and (max-width : 350px){
        width:100%;
      }

      @media only screen and (min-width : 481px) and (max-width : 767px){
        width:35%;
      }

      @media only screen and (min-width : 768px) and (max-width : 991px){
        width:100%;
      }

      i {
        text-align:left;
        text-decoration:none;
      }
    }
  }

  .last .social-links {
    margin-top:0;
  }
}

@media only screen and (min-width : 481px){
  #page-end {
    margin:0 10px;
    padding:24px 0 19px 0;
    border-top:1px solid $hr-border2;
  }
}
