//
// Layout
// Styles for OE Basic layouts
// Includes Teaser, Featured, Portrait
// Includes lists of the above
// OE Basic is a simple layout declared in the module: Ethical Theme
// Read: _mixin.scss comments first
// --------------------------------------------------

/* oe-basic layout */

.oe-basic {

  h3 {
    margin-top:-7px;
  }

  h3, h4,
  .file a{
    @include force-wrap;
  }

  .sidebar {
    .field-featured-image img,
    .media-soundcloud-audio,
    img {
      float:none;
      margin-right:0;
      margin-bottom:$oeVerticalMargin;
    }

    .field-featured-image {
      padding-left:0;
      padding-right:0;
    }
  }

  .file {
    clear:left;
    display:block;

    &:last-child {
      margin-bottom:30px;
    }
  }

  ul.links {
    &, &.list-inline {
      position:static;
      left:0;
      list-style:none;
      margin-top:-20px;
      margin-bottom:$oeVerticalMargin;
    }

    li {
      list-style:none;
      margin-bottom:0;
      width:auto;
    }
  }

  .meta,
  p.date,
  p.address{
    margin-bottom:4px;

    @media only screen and (min-width : 481px) {
      margin-bottom:11px;
    }
  }

  p.address {
    margin-top:-10px;
    font-weight:bold;
  }

  div.field-body {
    clear:left;
  }

  p.author,
  .meta {
    p,
    p.date,
    p.address
    {
      margin-bottom:0;
      margin-top:0;

      @media only screen and (min-width : 481px) {
        margin-bottom:1px;
      }
    }
  }

  .meta-inline {
    p,
    span{
      float:left;
    }

    p.date {
      font-weight:400;
      font-style:normal;
    }
  }

  div.tags {
    margin-bottom:$oeVerticalMargin;

    p {
      display:inline;
      margin:0;
      padding:0;
    }
  }

  div.last-tags {
    padding-bottom:0;
    margin-bottom:$oeVerticalMargin;
    border-bottom:none;
  }
}

/* portrait oe-basic layout - used, for example, with documents */

.oe-portrait-search-result .oe-basic,
.oe-portrait-fields .oe-basic{
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear:both;
  }

  .meta {
    float:left;
    p {
      clear:none;
      float:left;
    }

    p.author {
      padding-right:0.3em;
    }

    &.hasAuthorAndDate p.author:after {
        content: ' -';
    }
  }

  img.portrait {
    margin-bottom:$oeVerticalMargin;
  }

  .shift-up{
    margin-top:0px;
  }

  .file{
    margin-bottom:6px;
    margin-top:-3px;
    overflow:hidden; /* collapsing margins fix */

    @media only screen and (min-width : 481px) {
      margin-bottom:11px;
    }
  }

  .file.shift-up{
    margin-top:-18px;
  }
}

body .panel-pane .no-sidebar .contentmain {
  width:100%;
}

/* teaser */

@include oe-basic-size-1(oe-teaser);

@media only screen and (max-width : 767px) {
    .oe-teaser li{
      width:100%;
      padding-right:0;
    }
}

@media only screen and (min-width : 768px) {
  //teasers can float next to each other in twos
  @include oe-basic-narrow-li(oe-teaser);

  //if top level col-md- 12 (ie not col-md-12 inside col-md-4) then teasers can float next to each other in threes
  div.container > div.row > div.col-md-12 .oe-teaser {
    > li,
    > li.views-row-odd,
    > li.pieces-odd {
      width:31.9149%;
      margin-right:2.12766%;
    }
    > li.views-row-third {
      margin-right:0;
    }
  }

  //if in a narrow column use full width, non floated lis
  @include oe-basic-wide-li(oe-teaser);

  .oe-teaser .oe-basic .sidebar {
    .field-featured-image img,
    .media-soundcloud-audio,
    img {
      float: none;
      margin:7px 0 10px 0;
    }
  }
}

// teaser with no text - only works with custom items
// image is placed on the right instead of being floated to the right of non-existant text

.oe-teaser .no-text {
  .sidebar {
    float:none;
    padding-left:0;
  }

  ul.links {
    margin-top:0;
  }
}

/* featured */

@media only screen and (max-width : 480px) {
  @include oe-basic-size-0(oe-featured);
}

@media only screen and (min-width : 481px) {
  @include oe-basic-size-2(oe-featured);
}

//for narrow columns put the image above the text, instead of text floated beside the text
@media only screen and (min-width : 768px) {
  .col-md-1 .oe-featured .oe-basic .sidebar,
  .col-md-1 .oe-featured .oe-basic .contentmain,
  .col-md-2 .oe-featured .oe-basic .sidebar,
  .col-md-2 .oe-featured .oe-basic .contentmain,
  .col-md-3 .oe-featured .oe-basic .sidebar,
  .col-md-3 .oe-featured .oe-basic .contentmain,
  .col-md-4 .oe-featured .oe-basic .sidebar,
  .col-md-4 .oe-featured .oe-basic .contentmain,
  .col-md-5 .oe-featured .oe-basic .sidebar,
  .col-md-5 .oe-featured .oe-basic .contentmain,
  .col-md-6 .oe-featured .oe-basic .sidebar,
  .col-md-6 .oe-featured .oe-basic .contentmain{
    width:100%;
    padding-right:0;
  }

  div.container > div.row > div.col-md-12  .oe-featured {
    margin-right:10%;
  }
}

.oe-featured {
  .no-sidebar .contentmain {
    width:100%;
    padding-right:0;
  }

  .oe-basic p.author,
  .oe-basic p.date {
    @include inline-block;
    vertical-align:top;
  }
}

/* portrait list  - Here for possible future purposes.
 * Clients are not able to use the 'fields' option in the IPE so this code will not be used
 * Clients must use teaser, featured or link
 * It's possible though that an admin could add a panel with 'fields'
 */
/*
@media only screen and (max-width : 767px) {
  @include oe-basic-size-3(oe-portrait-fields);
}

@media only screen and (min-width : 768px) {
  @include oe-basic-size-4(oe-portrait-fields);
}

.oe-portrait-fields {
  p.author {
    font-size:0.8em;
    padding-bottom:9px;
  }

  p.date {
    font-size:0.8em;
    margin:0; padding:0;
  }
}
*/

/* portrait teaser */

.oe-portrait-teaser p:first-of-type {
  margin-top:-6px;
}

@media only screen and (max-width : 480px) {
  .oe-portrait-teaser .oe-basic {
    width:100%;
  }

  @include oe-basic-size-5(oe-portrait-teaser);
}

//float the teasers, around half width
@media only screen and (min-width : 481px) and (max-width : 767px){
  @include oe-basic-narrow-li(oe-portrait-teaser);
  @include oe-basic-size-3(oe-portrait-teaser);

  //full width if in narrower columns
  .col-md-1 .oe-portrait-teaser li,
  .col-md-2 .oe-portrait-teaser li,
  .col-md-3 .oe-portrait-teaser li,
  .col-md-4 .oe-portrait-teaser li,
  .col-md-5 .oe-portrait-teaser li,
  .col-md-6 .oe-portrait-teaser li {
    width:100%;
  }
}

//float the teasers, around half width
@media only screen and (min-width : 768px) {
  @include oe-basic-narrow-li(oe-portrait-teaser);
  @include oe-basic-size-5(oe-portrait-teaser);

  //if top level col-md- 12 (ie not col-md- inside col-md-4) then teasers can float next to each other in threes
  div.container > div.row > div.col-md-12 .oe-portrait-teaser {
    > li,
    > li.views-row-odd,
    > li.pieces-odd {
      width:31.9149%;
      margin-right:2.12766%;
    }
    > li.views-row-third {
      margin-right:0;
    }
  }

  //full width if in narrower columns
  .col-md-1 .oe-portrait-teaser li,
  .col-md-2 .oe-portrait-teaser li,
  .col-md-3 .oe-portrait-teaser li,
  .col-md-4 .oe-portrait-teaser li,
  .col-md-5 .oe-portrait-teaser li,
  .col-md-6 .oe-portrait-teaser li {
    width:100%;
  }
}

.oe-portrait-teaser .oe-basic .sidebar {
  img {
    float: none;
    margin:0 0 30px 0;
  }
}

/* portrait preview -- is this one ever used? */

@media only screen and (max-width : 480px) {
  .oe-portrait-preview .oe-basic {
    width:100%;
  }

  @include oe-basic-size-5(oe-portrait-preview);
}

@media only screen and (min-width : 481px) {
  @include oe-basic-size-4(oe-portrait-preview);
}

@media only screen and (min-width : 768px) {
  @include oe-basic-wide-li(oe-portrait-preview);
}

/* portrait search result - used for the document library faceted search page */

@media only screen and (max-width : 480px) {
  .oe-portrait-search-result .oe-basic {
    width:100%;
  }

  @include oe-basic-size-5(oe-portrait-search-result);
}

@media only screen and (min-width : 481px) and (max-width : 767px){
  @include oe-basic-size-6(oe-portrait-search-result);
}

@media only screen and (min-width : 768px) {
  @include oe-basic-size-4(oe-portrait-search-result);
  @include oe-basic-wide-li(oe-portrait-search-result);
}

/* if in ipe edit mode (where you can drag panels around) get rid of negative margins (they were being hidden) */

.panels-ipe-editing {
  .oe-basic h3,
  .oe-basic p.address,
  .oe-portrait-search-result .oe-basic .file.shift-up,
  .oe-portrait-fields .oe-basic .file.shift-up,
  .oe-portrait-teaser p:first-of-type {
    margin-top:0;
  }
}
