// Page
// Styles for panels
// --------------------------------------------------

.panel-pane {
  border-bottom:1px solid $hr-border;
  clear:both;
  margin:0 $oeSmallColMargin $oeVerticalMargin $oeSmallColMargin;
  padding:0 $oeSmallColPadding;
  padding-bottom:1px; /* does this solve margin collapsing? if not use overflow hidden and get rid of negative top margins, could use position relative instead? */

  p, h2, h3, h4, h5, h6 {
    padding-right:0;
    padding-left:0;
  }

  @media only screen and (min-width : 768px) {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
  }
}

//class first-panel is added by javascript when a panel is straight after a p. used to create a separation
.first-panel,
ul.teaserPieces.first-panel {
  clear:both;
  padding-top:$oeVerticalPadding;
  border-top:1px solid $hr-border;
}

.wide-panel {
  clear:both;
  margin:0 0 $oeVerticalMargin 0;
  padding:0;
}

//clients have the option to make panels 'bear bones' - removing padding, margin, border from the bottom
//useful so that clients can, for example, put some intro text before a list of teasers
body .es-bear-bones {
  padding-bottom:0;
  margin-bottom:0;
  border-bottom:0;
}

//ul.teaserPieces is wrapped around non-list teasers by javascript.
//notes from js file:
//Teasers can be added one at a time (instead of as a list) using for example 'add content item' or 'add custom item'
//If these teasers are next to each other they should be presented in one or more rows (as per teaser lists)
//To do this a ul is wrapped around the teaser panels
ul.teaserPieces {
  .pane-panopoly-widgets-general-content-piece-of-content{
    padding-left:0;
    padding-right:0;
  }

  .panel-pane {
    margin-bottom:0;
    border:none;
  }
}
