// Node
// Styles for Social
// --------------------------------------------------

/* twitter pull */

#twitter {
  position:static;
  left:0;
  margin:0;
  padding:0;
  font-size: $font-size-base * 0.75;

  ul{
    position:static;
    left:0;
    margin:0;
    padding:0;
    list-style:none;
    font-size: $font-size-base * 0.75;
  }

  li {
    float:left;
    margin-bottom:15px;
    border-bottom:1px solid $hr-border2;
    list-style:none;
  }

  li:last-child {
    border:none;
    margin-bottom:0;
  }

  li li {
    clear:none;
    float:left;
    padding:0 7px 0 4px;
    border:none;
  }

  li:last-child li {
    margin-bottom:0;
  }

  li li.first {
    padding-left:0;
  }
}

/* easy social */

.easy_social_box {
  margin:-3px 0 7px 0;

  div.easy_social-widget {
    width:50%;
    margin:0 0 13px 0;

    @media only screen and (min-width : 481px) {
      width:auto;
    }
  }
}

.panels-ipe-editing .easy_social_box{
  margin-top:0;
}
