//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

/* messages */

#messages {
  margin-top:$oeVerticalMargin;
}

/* files */

.field-video-file {
  padding-bottom:$oeVerticalPadding;
}

img.file-icon, div.file-widget img {
  margin-top:-3px;
}

.file .icon-file-text {
  font-size:19px;
  text-align:left;
  width:1em;
}

/* maps */

.field-map-address iframe, .field-map-address object, .field-map-address embed,
.es-bear-bones iframe, .es-bear-bones object, .es-bear-bones embed{
  width: 100%;
  margin-bottom:18px;
}

.field-map-information {
  margin-top:0;
}

/* spamspan */

body .row a.spamspan {
  display:inline;
  float:none;
  margin:0;
  padding:0;
  height:auto;
  min-height:auto;
}
