// View
// Styles for Views and teaser pieces.
// The class .teaserPieces is on some ULs wrapped around teasers.
// These teasers are not necessarily produced by views. For example they could have been created with 'custom item'
// These ULs are placed via javascript when there are adjacent teasers that are not grouped.
// This is so they can be styled as a group
// --------------------------------------------------

// general views
.item-list ul {
  list-style:none;
  margin:0; padding:0;

  li {
    /* not sure if these are needed anyway. removed because they were screwing oe-teaser in the elc areas of work block */
    /*width:100%;*/
    /*clear:left;*/
    margin:0; padding:0;
  }
}

// views that have the display 'content pane'
.pane-views-panes {
  padding-left:0;
  padding-right:0;
  padding-bottom:0;

  li,
  .pane-title,
  .pane-panopoly-widgets-general-content-piece-of-content {
    padding-left:$oeSmallColPadding;
    padding-right:$oeSmallColPadding;

    @media only screen and (min-width : 768px) {
      padding-left:0;
      padding-right:0;
      margin-left:0;
      margin-right:0;
    }
  }

  li li {
    padding-left:0;
    padding-right:0;
  }
}

ul.view,
ul.teaserPieces {
  position:static;
  left:0;
  margin:0;
  padding:0;
  list-style:none;

  li {
    border-bottom:1px solid $hr-border;
    margin-bottom:$oeVerticalMargin;
    list-style:none;
  }
}

ul.teaserPieces {
  border-bottom:1px solid $hr-border;
  clear:both;
  margin:0 $oeSmallColMargin $oeVerticalMargin $oeSmallColMargin;
  padding:0 $oeSmallColPadding;
  padding-bottom:1px; /* does this solve margin collapsing? if not use overflow hidden and get rid of negative top margins, could use position relative instead? */

  @media only screen and (min-width : 768px) {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
  }
}

//important because all lis should have borders except the bottom ones.
//for example if there are two lis per row, then the bottom 2 should not have borders.
//The classes here are added via javascript
ul.view li:last-child,
ul.view li.second-last,
ul.view li.third-last,
ul.teaserPieces li:last-child,
ul.teaserPieces li.second-last {
  border-bottom:none;
  margin-bottom:0;
}

ul.oe-portrait-link,
ul.oe-tiny,
.pane-bundle-quick-links .item-list ul {
  margin-bottom:$oeVerticalMargin;
}

ul.oe-portrait-link li,
ul.oe-tiny li,
ul.oe-tiny li:last-child,
ul.view ul li {
  border-bottom:none;
  margin-bottom:0;
}

/* sort the ipe out */
ul.teaserPieces ul.panels-ipe-linkbar li {
  width:auto;
  border:none;
  margin-bottom:0;
}

/* search results */

body.page-search {
  .views-row {
    border-bottom:1px solid $hr-border;
    margin-bottom:$oeVerticalMargin;
  }

  .views-row-last {
    border-bottom:none;
    margin-bottom:0;
  }
}

/* pager */

.item-list ul.pager {
  display:block;
  position:static;
  left:0;
  list-style:none;
  margin-bottom:$oeVerticalMargin;

  li {
    padding:5px 5px;
    vertical-align:middle;
    list-style:none;
    margin-bottom:0;
  }

  li a,
  li a:hover {
    border:none;
    background:none;

  }

  li.active > span {
    background:none;
    color: $text-color;
    border:none;
  }

  li.pager-current {
    border-bottom:1px solid $gray-dark;
  }
}
